<nav class="header">
    <div id="backdrop"></div>
    <div class="nav-container">
        <h1 class="nav-left">
        	Things and Stuff
        </h1>
    </div>
</nav>

<div class="app" id="app">
	<div id="movies"></div>
	<br/><br/>
	<div id="shows"></div>
</div>

<nav class="footer">
	<div class="nav-container">
		<span class="nav-left footer-text"><i class="fa fa-copyright"></i> Ryan Webber 2016</span>
		<div class="volume-space nav-right">
			<div class="progress">
			  	<span style="width: <%= volume.percentFull %>%"><%= volume.percentFull %>%</span>
			</div>
			<span class="footer-text">(<%= volume.freeString %> free)</span>
		</div>
    </div>
</nav>

<div id="modal"></div>

<script src="/js/controllers/home/main.js"></script>