<nav class="primary">
    <div class="nav-container">
        <div class="nav-block">
		Title Here
        </div>
    </div>
</nav>
<nav class="secondary">
    <div class="nav-container">
    </div>
</nav>

<div class="app" id="app">
	<div id="movies"></div>
	<br/><br/>
	<div id="shows"></div>
</div>

<div id="modal"></div>

<script src="/js/controllers/home/main.js"></script>