<form id="movie_upload">
	<input name="name" placeholder="Name"></input>
	<input name="trakt_id" placeholder="id"></input>
	<input name="image" placeholder="Image URL"></input>
	<input name="description" placeholder="Description"></input>
	<input name="year" placeholder="Year"></input>
	<div id="uploader" style="height: 50px;width:50px;background:#eee;"></div>
</form>


<script>
	$(document).ready(function(){
		var uploader = new MovieUploader($("#movie_upload"))
	});
</script>