
.modali{
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1005;
	background-color: rgba(0, 0, 0, 0.95);
	backdrop-filter: blur(4px);
	.opacity(0);
	.transform(opacity 0.5s linear);

	.modali-contents{
		position: relative;
		width: @pageWidth;
		border: 1px solid white;
		min-height: 200px;
		background-color: white;
		text-align: left;

		a.modali-close{
			@size: 30px;

			vertical-align: middle;
			position: absolute;
			height: @size;
			width: @size;
			line-height: @size;
			text-align: center;
			right: 0;
			top: 0;
			margin-right: -(@size/2);
			margin-top: -(@size/2);
			border: 1px solid white;
			background-color: @dark;
			border-radius: 100%;
			color: @light;
			font-weight: 100;
			.transform(background-color);
			.transform(color);

			&:hover{
				background-color: @light;
				color: @dark;
			}
		}
	}

	&.open{
		visibility: visible;
		.opacity(1);
	}
}

#movies, #shows{
	@posterWidth: 200px;

	h1{
		color: @lessLight;
	}

	.media-container{
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 10px;
		min-height: @posterWidth * 1.5 + 10;
		position: relative;
		background-color: lighten(@moreDark, 5%);
		.box-sizing(border-box);

		.media-item{
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 10px;
			position: relative;

			img.media-poster{
				width: @posterWidth;
				height: @posterWidth * 1.5;
			}

			a:hover{
				img.media-poster{
					border: 1px solid @dark;
				}
			}

			div.media-placeholder{
				position: absolute;
				z-index: 1001;
				width: @posterWidth;
				height: @posterWidth * 1.5;
				color: white;
				font-weight: 100;
			}
		}

		.media-modal{
			background-color: rgba(0, 0, 0, 0.8);

			.watch-button{
				border-radius: 2px;
				background-color: @theme;
				color: #fff;
				font-size: 24px;
				line-height: 100%;
				font-weight: 100;
				padding: 5px 25px 5px 25px;
				margin-left: auto;
				margin-right: auto;
				text-align: center;

				&:hover{
					background-color: darken(@theme, 5%);
				}
			}

			.inline-poster{
				width: 100px;
				height: 150px;
				display: inline-block;
				float: left;
				margin-right: 20px;
				margin-bottom: 5px;
				border: 1px solid white;
			}
		}

		.movie-modal{
			padding: 30px;

			h2.movie-name{
				color: @lessLight;
				margin-bottom: 5px;
			}

			h3.movie-year{
				color: #fff;
				margin-top: 5px;
				margin-bottom: 32px;
				font-weight: 200;
			}

			.movie-description{
				color: @light;
				font-weight: 100;
				padding-left: 20px;
			}
		}

		.show-modal{


			.padded-content{
				padding: 30px;

				h2.show-name{
					color: @lessLight;
					margin-bottom: 5px;
				}

				h3.show-year{
					color: @lessLight;
					margin-top: 5px;
					font-weight: 200;
				}

				.show-description{
					color: @light;
					font-weight: 100;
					padding-left: 20px;
				}

				.no-seasons{
					color: @accent;
				}
			}

			.show-row{
				@row-height: 120px;

				background-color: @moreDark;
				border-top: 1px solid @theme;
				border-bottom: 1px solid @theme;
				min-height: @row-height;

				position: relative;

				div.episode-item{
					height: @row-height;

					padding: 0 10px;

					div{
						height: 100%;
					}

					a{
						cursor: pointer;

						.inner-episode{
							color: @light;
							position: relative;

							/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+49,1e5799+49,000000+100&0+0,0+50,0.8+100 */
							background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(30,87,153,0) 49%, rgba(29,85,150,0) 50%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0) 49%,rgba(29,85,150,0) 50%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(30,87,153,0) 49%,rgba(29,85,150,0) 50%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */



							span.episode-text{
								position: absolute;
								bottom: 5px;
								left: 20px;
								font-weight: 100;
							}

							span.episode-text, i{
								color: @light;
								opacity: 0.6;
							}
						}

						&:hover{
							.inner-episode{
								background: rgba(0,0,0,0.66);

								i, span.episode-text{
									color: @accent;
									opacity: 0.7;
								}
							}
						}
					}
				}

				.carousel-button{
					position: absolute;
					height: @row-height;
					background-color: @theme;
					opacity: 0.9;
					cursor: pointer;
					top: 0;
					padding: 0 10px;

					&.left{
						left: 0;
					}

					&.right{
						right: 0;
					}

					&:hover{
						background-color: @accent;
					}
				}
			}
		}

		.spinner{
			margin: 0;
		}
	}
}
