@import 'mixins.less';
@import 'variables.less';
@import 'input.less';
@import 'homepage.less';

html,body{
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: @moreDark;
	color: @light;
}

body{
	min-height: 100%;
}

:root{
	overflow-y: auto !important;
}

nav{
	background-color: @dark;
	width:100%;
	position: relative;
	display: block;

	div.nav-container{
		margin-left: auto;
		margin-right: auto;
		width: @pageWidth;
		height: 100%;
		position: relative;

		.nav-item{
			display: inline-block;
		}

		.nav-left{
			float:left;
		}

		.nav-right{
			float: right;
		}
	}
}

nav.header{
	@navHeight: 120px;

	background-color: @dark;
	width:100%;
	height: @navHeight;
	margin-bottom: 80px;
	line-height: @navHeight;
	border-bottom: 1px solid @theme;
	position: relative;
	display: block;

	div#backdrop{
		height: 100%;
		width: 100%;
		position: absolute;
	}

	div.nav-container{
		margin-left: auto;
		margin-right: auto;
		width: @pageWidth;
		height: 100%;

		h1{
			line-height: @navHeight;
			margin: 0;
			color: @light;
			font-weight: 100;
		}

		input{
			height: 100%;
			background-color: @moreDark;
			color: @light;
			width: 100%;
			border-radius: 0px;
			border: none;
			outline: none;
			border-left: 1px dashed @accent;
			border-right: 1px dashed @accent;
		}

		.nav-block{
			height: 100%;
			background-color: @moreDark;
			color: @light;
			width: 100%;
			border-left: 1px dashed @accent;
			border-right: 1px dashed @accent;
			text-align: center;
		}
	}
}

nav.footer{
	@navHeight: 40px;

	display: block;
	line-height: @navHeight;
	margin-top: 160px;
	border-top: 1px solid @theme;

	span.footer-text{
		color: #888;
		font-weight: 100;
		font-size: 12px;
		line-height: @navHeight;
		i{
			vertical-align: middle;
		}
	}

	.progress{
		@height: 12px;

		margin-top: (@navHeight - @height)/2;
		margin-bottom: 0;
		width: 200px;
		display: inline-block;
		background-color: @lessDark;
		height: @height;

		span{
			color: @dark;
			font-size: 10px;
			background-color: @accent;
		}
	}
}

div.app{

}

div.full{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

div.overlay-layer{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-color: rgba(0,0,0,0.8);
}

div.center{
	text-align: center;
}

.page-block{
	width: @pageWidth;
	margin-left: auto;
	margin-right: auto;
}
